.button{
  height: 100%;
  &_text_color_white{
    color: #fff;
  }
  &_text_color_blue{
    color: #3785CC;
  }
  &_text_bg_blue{
    background: #3785CC;
  }
  &_text_bg_ghost{
    background: none;
  }
  &_border {
    border: 2px solid #3785CC;
  }
}

