.toDo {
  position: relative;
  height: 100%;
  max-width: 400px;
  margin: auto;
  padding: 50px 0;
  background: #fff;
  backdrop-filter: blur(4px);
  padding: 10vh 50px 20vh 50px;
  border: 2px solid #3785cc;
  border-radius: 10%;
  &__filters{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    width: 300px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
  }
  &__btnTask {
    width: 100%;
    height: 36px;
    border: 2px solid #3785cc;
    color: #3785cc;
    background: none;
    cursor: pointer;
  }
  &__btnAdd {
    width: 100%;
    height: 55px;
    background-color: #3785cc;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
